<nav class="navbar navbar-light bg-success">
        <a class="navbar-brand" href="#">
          <img src="./assets/Nufarm-002.png" width="50" height="50" alt="">
        </a>
        <ul class="nav mr-auto">
                <li class="nav-item">
        <a class="nav-link" [routerLink]="['/search']">Search</a>
        </li>
        <li class="nav-item">
        <a class="nav-link" [routerLink]="['/chart']">Chart</a>
        </li>
    </ul>
        
      </nav>
<h3>Status</h3>
      <div style="display: block;" *ngIf = "chartData">
        <canvas baseChart
                    [data]="chartData"
                    [labels]="chartLabel"
                    [chartType]="chartType"
                    [options]="chartOptions"></canvas>
      </div>


