


<div class="container"> 
    
      <div class="row">
        <div class="col">
            <div class="form-group">
        <input type="text" class="form-control" [(ngModel)]="orderInput" name="orderInput" placeholder="Enter Order Number">
      </div>
        </div>
      <div class="col">
          <div class="form-group">
        <button class="btn btn-primary" (click)="fetchDetails(orderInput)" type="submit">Search</button>
        </div>
      </div> 
      </div>
    
  
  <table *ngIf="result.length>0; else empty" class="table table-bordered table-hover">    
    <tr>    
      <th>Id</th>    
      <th>Order Number</th>    
      <th>Status</th> 
      <th>Creation Date</th>   
    </tr>    
    <tr *ngFor="let x of result">    
      <td>{{x.id}}</td>    
      <td>{{x.orderNumber}}</td>    
      <td>{{x.status}}</td>   
      <td>{{x.creationDate}}</td>
    </tr>    
  </table>  
  <ng-template #empty>No details</ng-template>  
</div>  

 

<router-outlet></router-outlet>